header{
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px -2px rgba(0,0,0,0.3);
    align-items: center;
    padding: 0 10px;
    margin: 0;
    width: 100%;
    height: 60px;
}

.dark header{
    box-shadow: 0 4px 6px -2px rgba(255, 244, 244, 0.3);
    color: white;
    background-color: #4B4848;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

body.dark{
    background-color: #4B4848;
}

.buttonTheme{
    position: absolute;
    width: 48px;
    height: 48px;
    right: 10px;
    cursor: pointer;
}

body.dark .buttonTheme svg{
    fill: white;
}

.buttonTheme:hover{
    transform: scale(1.05);
    transition-duration: .2s;
}

#first{
    margin: 0;
    font-size: 40px;
}
.menu{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
    align-items: center;
}

.sideMenu{
    width: 290px;
    background-color: #C8F0FF;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
    box-shadow: inset 0 4px 10px rgba(0,0,0,0.2);
    padding-top: 40px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

body.dark .sideMenu{
    background-color: #C85EE3;
    box-shadow: inset 0 4px 10px rgba(255, 255, 255, 0.2);
}

.sideMenu a{
    text-decoration: none;
    color: black;
}


.iconInButton{
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 8px 12px;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    border-radius: 40px;
    font-size: 20px;
    width: 100%;
    border: 2px solid #E7F9FF;
    border-radius: 40px;
    background-color: #E7F9FF;
    box-sizing: border-box;
    box-shadow: 0 4px 6px -2px rgba(0,0,0,0.3);
    cursor: pointer;
}

body.dark .iconInButton{
    border: 2px solid #F6D1FF;
    background-color: #F6D1FF;
    box-shadow: 0 4px 6px -2px rgba(255, 255, 255, 0.3);
}

.iconInButton:hover{
    transform: scale(1.05);
    transition-duration: .2s;
}

.iconInButton img{
    position: absolute;
    left: 20px;
    width: 24px;
    height: 24px;
    transform: translateY(5px);
}

.iconInButton span{
    margin: 0;
    text-align: center;
    transform: translateY(5px);
}
.iconLink{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.iconLink:hover{
    transform: scale(1.30);
    transition-duration: .3s;
}

.linkTo{
    position: relative;
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    margin-top: auto;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.iconLink svg{
    width: 30px;
    height: 30px;
    fill: #68C8F1;
}

body.dark .iconLink svg{
    fill: #F6D1FF;
}

.mainBg{
    flex: 1;
    background-color:#C8F0FF;
    border: #000;
    border-radius: 40px;
    margin: 50px;
    box-shadow: 0 4px 6px -2px rgba(0,0,0,0.3);
    align-items: center;    
    padding: 20px;
}

body.dark .mainBg{
    background-color: #C85EE3;
}

#thing{
    font-size: 24px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #B5E0F7;
}

body.dark #thing{
    background-color: #E067FF;
    color: rgb(0, 0, 0);
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
.greeting {
    width: 300px;
    background: #E7F9FF;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin: 0 auto 20px;
}

body.dark .greeting{
    background: #F6D1FF;
}


.schedule {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    background: #E7F9FF;
    border-radius: 10px;
    box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.25);
}

body.dark .schedule {
    background: #F6D1FF;
    box-shadow: 4px 7px 4px rgba(255, 255, 255, 0.25);
}

.schedule th, .schedule td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.schedule th {
    background: #B5E0F7;
    font-size: 18px;
    font-weight: 700;
} 

body.dark .schedule th{
    background-color: #E067FF ;
}

.schedule td {
    font-size: 16px;
}

.schedule td:nth-child(1) {
    font-weight: 600;
    text-align: center;
    padding-left: 15px;
}

.schedule td:nth-child(7) {
    font-weight: bold;
    background-color: #DFF3FF;
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 22px;
        margin-top: 20px;
    }

    .table-title {
        font-size: 20px;
    }

    .schedule th, .schedule td {
        font-size: 14px;
        padding: 6px;
    }
}

.greetingForRozklad{
    width: 200px;
    background: #E7F9FF;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin: 0 auto 20px;
    }
body.dark .greetingForRozklad{
    background: #F6D1FF
}
.scheduleInRozklad {
    width: 100%;
    border-spacing: 0;
    background: #E7F9FF;
    border-radius: 10px;
    box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.25);
}

body.dark .scheduleInRozklad {
    background: #F6D1FF;
    box-shadow: 4px 7px 4px rgba(255, 255, 255, 0.25);
}

.scheduleInRozklad th, .scheduleInRozklad td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.scheduleInRozklad th {
    background: #B5E0F7;
    font-size: 18px;
    font-weight: 700;
}

body.dark .scheduleInRozklad th{
    background-color: #E067FF ;
}

.scheduleInRozklad td {
    font-size: 16px;
}

.scheduleInRozklad td:nth-child(1) {
    font-weight: 600;
    text-align: center;
    padding-left: 15px;
}

.scheduleInRozklad td:nth-child(7) {
    font-weight: bold;
    background-color: #DFF3FF;
}

.mainShodenik{
    flex: 1;
    align-items: center;
    padding: 20px;
}
#thing{
    font-size: 24px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #B5E0F7;
}

body.dark #thing{
    background-color: #E067FF;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#greetingForMark{
    width: 200px;
    background: #E7F9FF;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin: 0 auto 20px;
}

#greetingForMark{
    background: #F6D1FF;
    border: 1px solid #000;
}

.mark {
    margin: 0 auto 20px;
    width: 80%;
    border-spacing: 0;
    background: #E7F9FF;
    border-radius: 10px;
    box-shadow: 4px 7px 4px rgba(0, 0, 0, 0.25);
}
body.dark .mark{
background: #F6D1FF;
box-shadow: 4px 7px 4px rgba(255, 255, 255, 0.25);
}

.mark th, .mark td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
}

.mark th {
    background: #B5E0F7;
    font-size: 18px;
    font-weight: 700;
}
body.dark .mark th {
    background: #E067FF;
    font-size: 18px;
    font-weight: 700;
}

.mark td {
    font-size: 16px;
}